In [2]:
import pandas as pd
import sqlite3

In [3]:
conn = sqlite3.connect('zippedData/im.db')

df = pd.read_sql("""

SELECT *
FROM movie_basics
JOIN movie_ratings
    USING(movie_id)
JOIN movie_akas
    USING(movie_id)


""", conn)

In [4]:
df.drop_duplicates(subset=['movie_id'], inplace=True)
df.drop(columns=['primary_title', 'original_title', 'ordering', 'region', 'types', 'attributes', 'is_original_title'], inplace=True)

In [5]:
df

,movie_id,start_year,runtime_minutes,genres,averagerating,numvotes,title,language
0,tt0063540,2013,175.0,"Action,Crime,Drama",7.0,77,Sangharsh,hi
5,tt0066787,2019,114.0,"Biography,Drama",7.2,43,One Day Before the Rainy Season,en
9,tt0069049,2018,122.0,Drama,6.9,4517,O Outro Lado do Vento,None
22,tt0069204,2018,NaN,"Comedy,Drama",6.1,13,Subse Bada Sukh,bn
25,tt0100275,2017,80.0,"Comedy,Drama,Fantasy",6.5,119,La Telenovela Errante,None
...,...,...,...,...,...,...,...,...
261792,tt9899860,2019,100.0,"Drama,Thriller",8.1,7,Watching This Movie Is a Crime,en
261795,tt9899880,2018,85.0,Comedy,5.8,5,Columbus,None
261797,tt9903952,2018,87.0,"Comedy,Horror",9.2,5,BADMEN with a good behavior,None
261800,tt9905462,2019,111.0,Drama,8.4,600,Pengalila,None
261803,tt9911774,2019,130.0,Drama,8.4,365,Padmavyuhathile Abhimanyu,None

In [6]:
df2 = pd.read_csv('zippedData/tn.movie_budgets.csv.gz', compression='gzip')

In [7]:
df2

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [8]:
df2.rename(columns={'movie': 'title'}, inplace=True)

In [9]:
merged = df.merge(df2, on='title')

In [10]:
merged.columns

Index(['movie_id', 'start_year', 'runtime_minutes', 'genres', 'averagerating',
       'numvotes', 'title', 'language', 'id', 'release_date',
       'production_budget', 'domestic_gross', 'worldwide_gross'],
      dtype='object')

In [11]:
merged.genres = merged.genres.str.split(',')

In [12]:
merged.genres

0                          [Horror]
1          [Comedy, Drama, Romance]
2                           [Drama]
3                [Horror, Thriller]
4       [Action, Adventure, Sci-Fi]
                   ...
1223     [Biography, Comedy, Drama]
1224                  [Documentary]
1225                  [Documentary]
1226                  [Documentary]
1227             [Biography, Drama]
Name: genres, Length: 1228, dtype: object

In [17]:
merged.drop(columns=['language'], inplace=True)

In [20]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1228 entries, 0 to 1227
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   movie_id           1228 non-null   object
 1   start_year         1228 non-null   int64
 2   runtime_minutes    1127 non-null   float64
 3   genres             1225 non-null   object
 4   averagerating      1228 non-null   float64
 5   numvotes           1228 non-null   int64
 6   title              1228 non-null   object
 7   id                 1228 non-null   int64
 8   release_date       1228 non-null   object
 9   production_budget  1228 non-null   object
 10  domestic_gross     1228 non-null   object
 11  worldwide_gross    1228 non-null   object
dtypes: float64(2), int64(3), object(7)
memory usage: 124.7+ KB

In [22]:
merged.dropna(subset=['genres'], inplace=True)

In [23]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1225 entries, 0 to 1227
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   movie_id           1225 non-null   object
 1   start_year         1225 non-null   int64
 2   runtime_minutes    1127 non-null   float64
 3   genres             1225 non-null   object
 4   averagerating      1225 non-null   float64
 5   numvotes           1225 non-null   int64
 6   title              1225 non-null   object
 7   id                 1225 non-null   int64
 8   release_date       1225 non-null   object
 9   production_budget  1225 non-null   object
 10  domestic_gross     1225 non-null   object
 11  worldwide_gross    1225 non-null   object
dtypes: float64(2), int64(3), object(7)
memory usage: 124.4+ KB

In [32]:
genre_columns = []

for i in merged.genres:
    for x in i:
        genre_columns.append(x)

genre_columns = list(set(genre_columns))

genre_columns

['Horror',
 'History',
 'Action',
 'Romance',
 'Comedy',
 'Sport',
 'Drama',
 'Western',
 'Crime',
 'Thriller',
 'News',
 'Animation',
 'Mystery',
 'Biography',
 'Music',
 'Sci-Fi',
 'War',
 'Fantasy',
 'Family',
 'Musical',
 'Adventure',
 'Documentary']

In [26]:
def binary_genres(lst, genre):
    
    if genre in lst:
        return 1
    else:
        return 0
    
merged['Comedy'] = merged.genres.apply(lambda x: binary_genres(x, 'Comedy'))

In [27]:
merged.Comedy

0       0
1       1
2       0
3       0
4       0
       ..
1223    1
1224    0
1225    0
1226    0
1227    0
Name: Comedy, Length: 1225, dtype: int64

In [33]:
genre_columns

['Horror',
 'History',
 'Action',
 'Romance',
 'Comedy',
 'Sport',
 'Drama',
 'Western',
 'Crime',
 'Thriller',
 'News',
 'Animation',
 'Mystery',
 'Biography',
 'Music',
 'Sci-Fi',
 'War',
 'Fantasy',
 'Family',
 'Musical',
 'Adventure',
 'Documentary']

In [34]:
merged['Horror'] = merged.genres.apply(lambda x: binary_genres(x, 'Horror'))
merged['History'] = merged.genres.apply(lambda x: binary_genres(x, 'History'))
merged['Action'] = merged.genres.apply(lambda x: binary_genres(x, 'Action'))
merged['Romance'] = merged.genres.apply(lambda x: binary_genres(x, 'Romance'))
merged['Sport'] = merged.genres.apply(lambda x: binary_genres(x, 'Sport'))
merged['Drama'] = merged.genres.apply(lambda x: binary_genres(x, 'Drama'))
merged['Western'] = merged.genres.apply(lambda x: binary_genres(x, 'Western'))
merged['Crime'] = merged.genres.apply(lambda x: binary_genres(x, 'Crime'))
merged['Thriller'] = merged.genres.apply(lambda x: binary_genres(x, 'Thriller'))
merged['News'] = merged.genres.apply(lambda x: binary_genres(x, 'News'))
merged['Animation'] = merged.genres.apply(lambda x: binary_genres(x, 'Animation'))
merged['Mystery'] = merged.genres.apply(lambda x: binary_genres(x, 'Mystery'))
merged['Biography'] = merged.genres.apply(lambda x: binary_genres(x, 'Biography'))
merged['Music'] = merged.genres.apply(lambda x: binary_genres(x, 'Music'))
merged['Sci-Fi'] = merged.genres.apply(lambda x: binary_genres(x, 'Sci-Fi'))
merged['War'] = merged.genres.apply(lambda x: binary_genres(x, 'War'))
merged['Fantasy'] = merged.genres.apply(lambda x: binary_genres(x, 'Fantasy'))
merged['Family'] = merged.genres.apply(lambda x: binary_genres(x, 'Family'))
merged['Musical'] = merged.genres.apply(lambda x: binary_genres(x, 'Musical'))
merged['Adventure'] = merged.genres.apply(lambda x: binary_genres(x, 'Adventure'))
merged['Documentary'] = merged.genres.apply(lambda x: binary_genres(x, 'Documentary'))

In [52]:
merged

,movie_id,start_year,runtime_minutes,genres,averagerating,numvotes,title,id,release_date,production_budget,...,Mystery,Biography,Music,Sci-Fi,War,Fantasy,Family,Musical,Adventure,Documentary
0,tt0339736,2017,98.0,[Horror],5.6,2420,Whiplash,43,"Oct 10, 2014","$3,300,000",...,0,0,0,0,0,0,0,0,0,0
1,tt0393049,2010,98.0,"[Comedy, Drama, Romance]",5.5,106,Anderson's Cross,65,"Dec 31, 2010","$300,000",...,0,0,0,0,0,0,0,0,0,0
2,tt0426566,2012,NaN,[Drama],6.0,13,Breakdown,11,"May 2, 1997","$36,000,000",...,0,0,0,0,0,0,0,0,0,0
3,tt0436230,2010,NaN,"[Horror, Thriller]",6.7,34,The Devil Inside,12,"Jan 6, 2012","$1,000,000",...,0,0,0,0,0,0,0,0,0,0
4,tt0437086,2019,122.0,"[Action, Adventure, Sci-Fi]",7.5,88207,Alita: Battle Angel,24,"Feb 14, 2019","$170,000,000",...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1223,tt8266310,2019,117.0,"[Biography, Comedy, Drama]",6.2,173,Blinded by the Light,64,"Aug 14, 2019","$15,000,000",...,0,1,0,0,0,0,0,0,0,0
1224,tt8450662,2018,66.0,[Documentary],7.3,22,Beloved,65,"Oct 16, 1998","$53,000,000",...,0,0,0,0,0,0,0,0,0,1
1225,tt8632862,2018,128.0,[Documentary],6.7,11628,Fahrenheit 11/9,29,"Sep 21, 2018","$5,000,000",...,0,0,0,0,0,0,0,0,0,1
1226,tt8816388,2018,28.0,[Documentary],5.7,7,Demonic,56,"Oct 10, 2017","$3,000,000",...,0,0,0,0,0,0,0,0,0,1
1227,tt9024106,2019,106.0,"[Biography, Drama]",6.3,5945,Unplanned,33,"Mar 29, 2019","$6,000,000",...,0,1,0,0,0,0,0,0,0,0

In [58]:
merged.production_budget = merged['production_budget'].str.strip('$')
merged.production_budget = merged['production_budget'].str.replace(',', '')
merged.production_budget = merged.production_budget.astype('float')

In [59]:
merged.worldwide_gross = merged['worldwide_gross'].str.strip('$')
merged.worldwide_gross = merged['worldwide_gross'].str.replace(',', '')
merged.worldwide_gross = merged.worldwide_gross.astype('float')

In [60]:
merged.domestic_gross = merged['domestic_gross'].str.strip('$')
merged.domestic_gross = merged['domestic_gross'].str.replace(',', '')
merged.domestic_gross = merged.domestic_gross.astype('float')

In [62]:
merged['budget_percentage_contribution'] = merged.production_budget / (merged.production_budget + merged.worldwide_gross)
merged['worldwide_gross_percentage_contribution'] = merged.worldwide_gross / (merged.production_budget + merged.worldwide_gross)
merged['domestic_gross_percentage_contribution'] = merged.domestic_gross / (merged.production_budget + merged.domestic_gross)

In [63]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1225 entries, 0 to 1227
Data columns (total 37 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   movie_id                                 1225 non-null   object
 1   start_year                               1225 non-null   int64
 2   runtime_minutes                          1127 non-null   float64
 3   genres                                   1225 non-null   object
 4   averagerating                            1225 non-null   float64
 5   numvotes                                 1225 non-null   int64
 6   title                                    1225 non-null   object
 7   id                                       1225 non-null   int64
 8   release_date                             1225 non-null   object
 9   production_budget                        1225 non-null   float64
 10  domestic_gross                           1225 non-null   float64
 11  worldwide_gross                          1225 non-null   float64
 12  Comedy                                   1225 non-null   int64
 13  Horror                                   1225 non-null   int64
 14  History                                  1225 non-null   int64
 15  Action                                   1225 non-null   int64
 16  Romance                                  1225 non-null   int64
 17  Sport                                    1225 non-null   int64
 18  Drama                                    1225 non-null   int64
 19  Western                                  1225 non-null   int64
 20  Crime                                    1225 non-null   int64
 21  Thriller                                 1225 non-null   int64
 22  News                                     1225 non-null   int64
 23  Animation                                1225 non-null   int64
 24  Mystery                                  1225 non-null   int64
 25  Biography                                1225 non-null   int64
 26  Music                                    1225 non-null   int64
 27  Sci-Fi                                   1225 non-null   int64
 28  War                                      1225 non-null   int64
 29  Fantasy                                  1225 non-null   int64
 30  Family                                   1225 non-null   int64
 31  Musical                                  1225 non-null   int64
 32  Adventure                                1225 non-null   int64
 33  Documentary                              1225 non-null   int64
 34  budget_percentage_contribution           1225 non-null   float64
 35  worldwide_gross_percentage_contribution  1225 non-null   float64
 36  domestic_gross_percentage_contribution   1225 non-null   float64
dtypes: float64(8), int64(25), object(4)
memory usage: 363.7+ KB

In [64]:
merged.head()

,movie_id,start_year,runtime_minutes,genres,averagerating,numvotes,title,id,release_date,production_budget,...,Sci-Fi,War,Fantasy,Family,Musical,Adventure,Documentary,budget_percentage_contribution,worldwide_gross_percentage_contribution,domestic_gross_percentage_contribution
0,tt0339736,2017,98.0,[Horror],5.6,2420,Whiplash,43,"Oct 10, 2014",3300000.0,...,0,0,0,0,0,0,0,0.078071,0.921929,0.798682
1,tt0393049,2010,98.0,"[Comedy, Drama, Romance]",5.5,106,Anderson's Cross,65,"Dec 31, 2010",300000.0,...,0,0,0,0,0,0,0,1.000000,0.000000,0.000000
2,tt0426566,2012,NaN,[Drama],6.0,13,Breakdown,11,"May 2, 1997",36000000.0,...,0,0,0,0,0,0,0,0.417831,0.582169,0.582169
3,tt0436230,2010,NaN,"[Horror, Thriller]",6.7,34,The Devil Inside,12,"Jan 6, 2012",1000000.0,...,0,0,0,0,0,0,0,0.009731,0.990269,0.981571
4,tt0437086,2019,122.0,"[Action, Adventure, Sci-Fi]",7.5,88207,Alita: Battle Angel,24,"Feb 14, 2019",170000000.0,...,1,0,0,0,0,1,0,0.296697,0.703303,0.335185