In [1]:
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect('zippedData/im.db')

df = pd.read_sql("""

SELECT *
FROM movie_basics
JOIN movie_ratings
    USING(movie_id)
JOIN movie_akas
    USING(movie_id)


""", conn)

In [3]:
df.drop_duplicates(subset=['movie_id'], inplace=True)
df.drop(columns=['primary_title', 'original_title', 'ordering', 'region', 'types', 'attributes', 'is_original_title'], inplace=True)

In [4]:
df

,movie_id,start_year,runtime_minutes,genres,averagerating,numvotes,title,language
0,tt0063540,2013,175.0,"Action,Crime,Drama",7.0,77,Sangharsh,hi
5,tt0066787,2019,114.0,"Biography,Drama",7.2,43,One Day Before the Rainy Season,en
9,tt0069049,2018,122.0,Drama,6.9,4517,O Outro Lado do Vento,None
22,tt0069204,2018,NaN,"Comedy,Drama",6.1,13,Subse Bada Sukh,bn
25,tt0100275,2017,80.0,"Comedy,Drama,Fantasy",6.5,119,La Telenovela Errante,None
...,...,...,...,...,...,...,...,...
261792,tt9899860,2019,100.0,"Drama,Thriller",8.1,7,Watching This Movie Is a Crime,en
261795,tt9899880,2018,85.0,Comedy,5.8,5,Columbus,None
261797,tt9903952,2018,87.0,"Comedy,Horror",9.2,5,BADMEN with a good behavior,None
261800,tt9905462,2019,111.0,Drama,8.4,600,Pengalila,None
261803,tt9911774,2019,130.0,Drama,8.4,365,Padmavyuhathile Abhimanyu,None

In [5]:
df2 = pd.read_csv('zippedData/tn.movie_budgets.csv.gz', compression='gzip')

In [6]:
df2

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [10]:
df2.rename(columns={'movie': 'title'}, inplace=True)

In [17]:
merged = df.merge(df2, on='title')

In [18]:
merged.columns

Index(['movie_id', 'start_year', 'runtime_minutes', 'genres', 'averagerating',
       'numvotes', 'title', 'language', 'id', 'release_date',
       'production_budget', 'domestic_gross', 'worldwide_gross'],
      dtype='object')

In [20]:
merged.genres = merged.genres.str.split(',')

3